<IfModule authz_core_module>
    Require all denied
    # Redirect 301 "/http://localhost/execution/login.php" "/https://rmt.docango.com/"

</IfModule>
<IfModule !authz_core_module>
    Deny from all
</IfModule>